@import "./vars.scss";
@import "./mixins.scss";

html {
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
    @include flex("column");
}

main{
    flex-grow:1;
    height: 100%;
    background-color: $bg-color;
}

.my_container{
    max-width: 1270px;
    margin: 0 auto;
}