$bg-color : #C4007A;
$btn-color : #F5DC45;
$btn-hover : #DE9233;
$content-color : #D989AD;
$layout-color : #70B5B3; //header/footer/cart/card tipologies/search
$special-white: #eff0f3;
$special-black: #0f0e17;


