// $bg-color : #C4007A;
$btn-color : #F5DC45;
$btn-hover : #DE9233;
$content-color : #D989AD;
$layout-color : #70B5B3; //header/footer/cart/card tipologies/search
$special-white: #eff0f3;
$special-black: #0f0e17;


// NUOVI
$bg-color : #eff0f3;
$btn-color : #ff8e3c;
$secondary-color: #d9376e;
$special-white: #fffffe;
$special-black: #0d0d0d;
$special-black2: #2a2a2a;




